*{
    font-family:'Pixelify Sans', sans-serif;
}

body{
    background-color: gray;
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
}

.vermelho{
    color: red;
}

.verde{
    color: rgb(0, 255, 251)
}

main{
    width: 425px;
    margin: 0 auto;
    height: 100vh;
}

#par-ou-impar{
    text-align: center;
}

#escolha-numeros{
    display: none;
    text-align: center;
}

.botao{
    border: 2px solid rgb(47, 206, 255);
    background-color: black;
    color: rgb(47, 234, 255);
    font-size: 2rem;
    padding: 0.625rem;
    cursor: pointer;
}

.vermelho1{
    color: red;
}

.botao-pi{
    
}


#resultado {
    border: 2px solid rgb(47, 206, 255);
    background-color: black;
    color: rgb(47, 234, 255);
    font-size: 2rem;
    padding: 2rem;
    margin: 2rem 0;
    display: none;
}

.texto-resultado {
    margin: 0;
    
}

.caixa-jogar{
    margin-top: 2rem;
    text-align: center;
}



